{% extends "base.html" %}
{% load static %}

{% block titulo %} Perfil {% endblock %}
    
{% block contenido %} 



<div class="card">
    <div class="card-header">
        <h1 class="card-title">Mi Perfil - {{user.username}}</h1>
    </div>
    <div class="table-responsive">
        <div class="list-group">
            <a class="list-group-item list-group-item-action">Usuario: {{ user.username }}</a>
            <a class="list-group-item list-group-item-action">Email: {{user.email}}</a>
            <a class="list-group-item list-group-item-action">Nombre: {{ user.first_name }}</a>
            <a class="list-group-item list-group-item-action">Apellido: {{ user.last_name }}</a>
        </div>
        
    </div>     
    <br>   
    <a name="" id="" class="btn btn-primary" href="{% url 'cambiarAvatar' %}" role="button">Cambiar foto de perfil</a>
    <br>
    <a name="" id="" class="btn btn-primary" href="{% url 'editarPerfil' %}" role="button">Editar Perfil</a>
    <br>
    <a name="" id="" class="btn btn-primary" href="{% url 'cambiarContraseña' %}" role="button">Cambiar Contraseña</a>
</div>


{% endblock %}